body {
  font-family: 'Barlow', sans-serif;
  line-height: 1.7;
  color: rgb(28, 74, 95);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  color: rgb(11, 49, 67);
}

a {
  color: rgb(100, 222, 235);
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 500;
}

img {
  width: 100%;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-position: center !important;
}

/* NAVBAR TOP*/
.top-nav {
  background-color: rgb(11, 49, 67);
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 16px;
  color: rgb(100, 222, 235);
}

.top-nav i,
.top-nav span {
  vertical-align: middle;
}

.social-links a {
  width: 34px;
  height: 34px;
  background-color: rgba(100, 222, 235, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(100, 222, 235);
  font-size: 20px;
  border-radius: 100%;
}

.social-links a:hover {
  background-color: rgb(100, 222, 235);
  color: rgb(11, 49, 67);
}

.navbar {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
  color: rgb(53, 108, 134);
  font-weight: 600;
}

.navbar-brand {
  font-weight: 800;
  font-size: 26px;
  text-transform: uppercase;
  color: rgb(11, 49, 67);
}

.navbar-brand span {
  color: rgb(10, 169, 186);
}

/*  BUTTON  */

.btn {
  padding: 8px 20px;
  font-weight: 500;
}

.btn-brand {
  background-color: rgb(11, 49, 67);
  color: rgb(100, 222, 235);
  border-color: rgb(11, 49, 67);
}

.btn-brand:hover {
  color: rgb(100, 222, 235);
  background-color: rgb(11, 81, 111);
  border-color: rgb(11, 81, 111);
}

/* SLIDERS */
.slide1 {
  background: linear-gradient(#00243851, #7cdcff4f),
    url(../img/physical-therapy-1.svg);
}

.slide2 {
  background: linear-gradient(#00243851, #7cdcff4f),
    url(../img/physical-therapy-2.svg);
}

.slide3 {
  background: linear-gradient(#00243851, #7cdcff4f),
    url(../img/physical-therapy-3.svg);
}

/*OWL CAROUSEL*/

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-items: center;
  background-color: rgba(11, 49, 67, 0.15) !important;
  margin-top: -30px !important;
  color: rgb(11, 49, 67) !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  border-radius: 100px !important;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: rgba(4, 83, 119, 0.486) !important;
  color: rgb(165, 228, 244) !important;
}

/*TIPOS DE TERAPIA*/
.info-box {
  display: flex;
  align-items: center;
}
.icon-box {
  width: 40px;
  height: 40px;
  background-color: rgba(47, 146, 157, 0.44);
  border-radius: 100%;
  margin-right: 30px;
}

.icon-box2 {
  width: 40px;
  height: 40px;
  background-color: rgb(10, 169, 186);
  border-radius: 100%;
  margin-right: 30px;
}

.info-box p {
  font-size: 15px;
}

.info-box2 {
  display: flex;
  align-items: center;
}

#hero-slider {
  margin-bottom: -11px;
}

#clinica {
  background: rgb(245, 245, 245);
}

#clinica p {
  color: rgb(11, 49, 67);
}

#clinica .h5-3 {
  text-align: center;
}

#fisioterapia {
  background: rgb(11, 49, 67);
}

#fisioterapia p {
  color: white;
}

#fisioterapia h5 {
  color: white;
}

#pilates {
  background: rgb(245, 245, 245);
}

#pilates h5,
p {
  color: rgb(11, 49, 67);
}

#pacotes {
  background: rgb(11, 49, 67);
}

/*PACOTES*/

.intro {
  margin-bottom: 40px;
}

#pacotes p {
  max-width: 500px;
  margin: auto;
  color: rgb(10, 169, 186);
}

.h1-pacotes {
  margin-bottom: 20px;
  color: rgb(165, 228, 244);
}

.table {
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  background: rgb(165, 228, 244);
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

#cards .price h1 {
  color: rgb(11, 49, 67);
}

.title {
  padding: 40px 20px 170px;
  margin: 0;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.price {
  margin: 40px 0 0 0;
}

.table:hover {
  background: rgb(219, 255, 255);
}

.content {
  list-style: none;
  padding: 0;
  margin: 40px;
  text-align: center;
}

.content li {
  padding: 0px;
  position: relative;
}

.content .item-inactive {
  color: rgb(88, 165, 169);
}

#cards .btn {
  background: rgb(11, 49, 67);
  border: 2px solid rgb(11, 49, 67);
  color: rgb(165, 228, 244);
  text-transform: uppercase;
}

#cards .btn:hover {
  background: rgb(36, 87, 110);
}

.table span {
  background-color: rgb(11, 49, 67);
  color: rgb(165, 228, 244);
}
